@model List<item>
@{
    ViewData["Title"] = "صفحه اصلی ";
}


<section id="home">
    <div class="intro-wrapper">
        <h2 class="iiimmm">فروشگاه آنلاین</h2>
        <p>
            @ViewData["headingTitle"]
        </p>
        <button>محصولات</button>
    </div>
</section>

<section id="aboutus">
    <div class="about-wrapper">
        <div class="about-text">
            <h2>درباره ما</h2>
            <p>
                @ViewData["headingText"]
            </p>
        </div>
    </div>
</section>

<section id="products">
    <h2>محصولات ما</h2>
    <div class="product-grid">
        @foreach (var item in Model)
        {
            <div class="product-card">

                <img class="immgg" src="~/@item.image" alt="@item.id">
                <div class="product-name"> @item.title</div>
                <a href="@item.link/">
                    <div class="product-price"> @item.price</div>
                </a>

            </div>
        }

    </div>
</section>
